<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.business.mapper.CommonNotifyMapper">

    <resultMap type="com.mall.entity.NotifyDO" id="CommonNotifyResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="linkUrl" column="link_url"/>
        <result property="readStatus" column="read_status"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="isPush" column="is_push"/>
        <result property="toUserId" column="to_user_id"/>
    </resultMap>

    <sql id="selectCommonNotifyColumn">
        id,
        type,
        title,
        content,
        link_url,
        read_status,
        create_user_id,
        create_user_name,
        create_time,
        update_user_id,
        update_user_name,
        update_time,
        is_del,
        is_push,
        to_user_id
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="title != null and title != ''">AND title = #{title}</if>
            <if test="content != null and content != ''">AND content = #{content}</if>
            <if test="linkUrl != null and linkUrl != ''">AND link_url = #{linkUrl}</if>
            <if test="readStatus != null">AND read_status = #{readStatus}</if>
            <if test="createUserId != null">AND create_user_id = #{createUserId}</if>
            <if test="createUserName != null and createUserName != ''">AND create_user_name = #{createUserName}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
            <if test="updateUserId != null">AND update_user_id = #{updateUserId}</if>
            <if test="updateUserName != null and updateUserName != ''">AND update_user_name = #{updateUserName}</if>
            <if test="updateTime != null">AND update_time = #{updateTime}</if>
            <if test="isDel != null">AND is_del = #{isDel}</if>
            <if test="isPush != null">AND is_push = #{isPush}</if>
            <if test="toUserId != null">AND to_user_id = #{toUserId}</if>
            AND is_del = 0
        </where>
    </sql>

    <insert id="insert" parameterType="com.mall.entity.NotifyDO">
        INSERT INTO common_notify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            title,
            <if test="content != null and content != ''">content,</if>
            <if test="linkUrl != null and linkUrl != ''">link_url,</if>
            <if test="readStatus != null">read_status,</if>
            create_user_id,
            create_user_name,
            create_time,
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null and updateUserName != ''">update_user_name,</if>
            update_time,
            <if test="isDel != null">is_del,</if>
            <if test="isPush != null">is_push,</if>
            <if test="toUserId != null">to_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            #{title},
            <if test="content != null and content != ''">#{content},</if>
            <if test="linkUrl != null and linkUrl != ''">#{linkUrl},</if>
            <if test="readStatus != null">#{readStatus},</if>
            #{createUserId},
            #{createUserName},
            now(),
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null and updateUserName != ''">#{updateUserName},</if>
            now(),
            <if test="isDel != null">#{isDel},</if>
            <if test="isPush != null">#{isPush},</if>
            <if test="toUserId != null">#{toUserId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.mall.entity.NotifyDO">
        UPDATE common_notify
        SET
            <if test="type != null">type = #{type},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="linkUrl != null and linkUrl != ''">link_url = #{linkUrl},</if>
            <if test="readStatus != null">read_status = #{readStatus},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="isPush != null">is_push = #{isPush},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null and updateUserName != ''">update_user_name = #{updateUserName},</if>
            <if test="toUserId != null">to_user_id = #{toUserId},</if>
            update_time = now()
        WHERE id = #{id}
    </update>

    <select id="searchByCondition"
            parameterType="com.mall.dto.condition.NotifyConditionDTO"
            resultMap="CommonNotifyResult">
        SELECT
        <include refid="selectCommonNotifyColumn"/>
        FROM common_notify
        <include refid="queryWhere"/>
    </select>
</mapper>