<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.business.mapper.MenuMapper">
    <resultMap type="com.mall.entity.MenuDO" id="MenuResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="sort" column="sort"/>
        <result property="icon" column="icon"/>
        <result property="path" column="path"/>
        <result property="hidden" column="hidden"/>
        <result property="isLink" column="is_link"/>
        <result property="type" column="type"/>
        <result property="permission" column="permission"/>
        <result property="url" column="url"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserName" column="create_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDel" column="is_del"/>
        <result property="component" column="component"/>
    </resultMap>

    <sql id="selectMenuColumn">
         id,
         name,
         pid,
         sort,
         icon,
         path,
         hidden,
         is_link,
         type,
         permission,
         url,
         create_user_id,
         create_user_name,
         create_time,
         update_user_id,
         update_user_name,
         update_time,
         component,
         is_del
    </sql>

    <sql id="queryWhere">
        <where>
            <if test="id != null ">
                AND id = #{id}
            </if>

            <if test="name != null  and name != ''">
                AND name LIKE CONCAT ('%',  #{name},'%')
            </if>

            <if test="pid != null ">
                AND pid = #{pid}
            </if>

            <if test="pidList != null and pidList.size()>0">
                AND pid IN
                <foreach collection="pidList" item="pid" open="(" close=")" separator=",">
                    #{pid}
                </foreach>
            </if>

            <if test="sort != null ">
                AND sort = #{sort}
            </if>

            <if test="icon != null  and icon != ''">
                AND icon = #{icon}
            </if>

            <if test="path != null  and path != ''">
                AND path = #{path}
            </if>

            <if test="hidden != null ">
                AND hidden = #{hidden}
            </if>

            <if test="isLink != null ">
                AND is_link = #{isLink}
            </if>

            <if test="type != null ">
                AND type = #{type}
            </if>

            <if test="permission != null  and permission != ''">
                AND permission = #{permission}
            </if>

            <if test="url != null  and url != ''">
                AND url = #{url}
            </if>

            <if test="createUserId != null ">
                AND create_user_id = #{createUserId}
            </if>

            <if test="createUserName != null  and createUserName != ''">
                AND create_user_name = #{createUserName}
            </if>

            <if test="createTime != null ">
                AND create_time = #{createTime}
            </if>

            <if test="updateUserId != null ">
                AND update_user_id = #{updateUserId}
            </if>

            <if test="updateUserName != null  and updateUserName != ''">
                AND update_user_name = #{updateUserName}
            </if>

            <if test="updateTime != null ">
                AND update_time = #{updateTime}
            </if>

            <if test="isDel != null ">
                AND is_del = #{isDel}
            </if>

            <if test="createBeginTime != null and createBeginTime !=''">
                AND create_time >= #{createBeginTime}
            </if>

            <if test="createEndTime != null and createEndTime !=''">
                AND create_time <![CDATA[<]]> #{createEndTime}
            </if>
            AND is_del = 0
        </where>
    </sql>

    <insert id="insert" parameterType="com.mall.entity.MenuDO">
        INSERT INTO sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            pid,
            sort,
            <if test="icon != null">icon,</if>
            <if test="path != null">path,</if>
            <if test="hidden != null">hidden,</if>
            <if test="isLink != null">is_link,</if>
            <if test="permission != null">permission,</if>
            <if test="type != null">type,</if>
            <if test="component != null">component,</if>
            <if test="url != null">url,</if>
            create_user_id,
            create_user_name,
            create_time,
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateUserName != null">update_user_name,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            #{pid},
            #{sort},
            <if test="icon != null">#{icon},</if>
            <if test="path != null">#{path},</if>
            <if test="hidden != null">#{hidden},</if>
            <if test="isLink != null">#{isLink},</if>
            <if test="permission != null">#{permission},</if>
            <if test="type != null">#{type},</if>
            <if test="component != null">#{component},</if>
            <if test="url != null">#{url},</if>
            #{createUserId},
            #{createUserName},
            now(),
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateUserName != null">#{updateUserName},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.mall.entity.MenuDO">
        UPDATE sys_menu
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="pid != null">pid = #{pid},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="path != null">path = #{path},</if>
            <if test="hidden != null">hidden = #{hidden},</if>
            <if test="isLink != null">is_link = #{isLink},</if>
            <if test="permission != null">permission = #{permission},</if>
            <if test="type != null">type = #{type},</if>
            <if test="component != null">component = #{component},</if>
            <if test="url != null">url = #{url},</if>
            <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            <if test="updateUserName != null">update_user_name = #{updateUserName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        UPDATE sys_menu
        SET is_del = 1
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="findMenuByRoleIdList"
            parameterType="Long"
            resultMap="MenuResult">
        SELECT
        sm.id,
        sm.name,
        sm.pid,
        sm.sort,
        sm.icon,
        sm.path,
        sm.hidden,
        sm.is_link,
        sm.type,
        sm.permission,
        sm.url,
        srm.role_id
        FROM sys_menu sm
        INNER JOIN sys_role_menu srm ON sm.id=srm.role_id
        <where>
            srm.role_id IN
            <foreach collection="roleIdList" item="roleId" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
            AND sm.is_del = 0
        </where>
    </select>

    <select id="searchByCondition"
            parameterType="com.mall.dto.condition.MenuConditionDTO"
            resultMap="MenuResult">
        SELECT
        <include refid="selectMenuColumn"/>
        FROM sys_menu
        <include refid="queryWhere"/>
        <include refid="com.mall.business.mapper.CommonMapper.paginationSql"/>
    </select>

    <select id="searchCount" parameterType="com.mall.dto.condition.MenuConditionDTO" resultType="int">
        SELECT COUNT(*)
        FROM sys_menu
        <include refid="queryWhere"/>
    </select>
</mapper>
